body{
    margin: 0%;
    padding: 0%;
    background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top left, bottom right;
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
}

.MainBox-1{
    display: flex;
    margin-bottom: 5%;
}

.SubMainBox-1{
    width: 100%;
    max-width: 35%;
    margin-left: 9%;
    margin-top: 7%;
}

.SubMainBox-1 h1{
    font-size: 43px;
    color: hsl(300, 43%, 22%);
}

.SubMainBox-1 p{
    color: hsl(303, 10%, 53%);
    line-height: 25px;
}

.Stars{
    margin-top: 10%;
    margin-left: 9%;
    width: 100%;
    max-width: 31%;
}

.Stars p{
    color: hsl(300, 43%, 22%);
    font-weight: bold;
}

.Stars div{
    padding: 7px;
    padding-left: 150px;
    padding-right: 50px;
    background-color: hsl(300, 24%, 96%);
    border-radius: 15px;
    margin-bottom: 15px;
    background-image: url(../images/icon-star.svg), 
                      url(../images/icon-star.svg),
                      url(../images/icon-star.svg), 
                      url(../images/icon-star.svg), 
                      url(../images/icon-star.svg);
    background-repeat: no-repeat;
    background-position: center left calc(30px), 
                         center left calc(50px),
                         center left calc(70px),
                         center left calc(90px),
                         center left calc(110px);
}

.Stars .Stars-2{
    position: relative;
    left: 10%;
}

.Stars .Stars-3{
    position: relative;
    left: 20%;
}

.Comments{
    display: flex;
    margin-right: 5%;
}

.Comments div{
    width: 100%;
    height: auto;
    background-color: hsl(300, 43%, 22%);
    margin-right: 3%;
    padding: 40px;
    border-radius: 11px;
}

.Comments img{
    width: 50px;
    border-radius: 50%;
}

.Comments-1{
    margin-left: 9.5%;
}

.Comments section{
    display: inline-block;
    font-size: 17px;
    line-height: 4px;
    position: relative;
    bottom: 3px;
    left: 5%;
}

.Comments-1 h2, .Comments-2 h2, .Comments-3 h2{
    font-size: 17px;
}

.Comments-1 .Reviews, .Comments-2 .Reviews, .Comments-3 .Reviews, h2{
    color: hsl(0, 0%, 100%);
    line-height: 25px;
    font-size: 12px;
}

.Comments .Comments-2{
    position: relative;
    top: 20px;
}

.Comments .Comments-3{
    position: relative;
    top: 40px;
}

.Comments-1 .Verified, .Comments-2 .Verified, .Comments-3 .Verified{
    color: hsl(333, 80%, 67%);
}

@media screen and (max-width: 1012px) {
    .Comments{
        margin-bottom: 15%;
    }

    .Comments div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Comments section{
        left: 0%;
    }
}

@media screen and (max-width: 937px){
    .MainBox-1{
        flex-direction: column;
        align-items: center;
    }

    .SubMainBox-1{
        margin-left: 0%;
        max-width: 70%;
        text-align: center;
    }

    .Stars{
        margin-left: 0%;
        margin-right: 0%;
        max-width: 70%;
        text-align: end;
    }

    .Stars .Stars-2, .Stars .Stars-3{
        left: 0%;
    }

    .Comments{
        flex-direction: column;
        align-items: center;
        margin: 0%;
        margin-bottom: 15%;
    }
    
    .Comments div{
        display: block;
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
        max-width: 60%;
        height: auto;
    }

    .Comments section{
        left: 5%;
    }
}

@media screen and (max-width: 540px) {
    body{
        background-size: 70vw, 90vh;
    }

    .Comments{
        margin-bottom: 30%;
    }
}

@media screen and (max-width: 411px) {
    .SubMainBox-1 h1{
        font-size: 30px;
    }

    .Stars div{
        text-align: center;
        height: 120px;
        padding-right: 0px;
        background-position: top calc(20px) left calc(30%), 
        top calc(20px) left calc(40%),
        top calc(20px) left calc(50%),
        top calc(20px) left calc(60%),
        top calc(20px) left calc(70%);
    }

    .Stars div p{
        width: 100%;
        position: relative;
        top: 2em;
        right: 5em;
    }
}

@media screen and (max-width: 302px) {
    .Stars div{
        height: 170px;
    }

    .Comments div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Comments img{
        width: 60px;
    }

    .Comments section{
        left: 0%;
    }
}