body{
    margin: 0%;
    padding: 0%;
    background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top left, bottom right;
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
}

.MainBox-1{
    display: flex;
    margin-bottom: 5%;
}

.SubMainBox-1{
    width: 100%;
    max-width: 35%;
    margin-left: 9%;
    margin-top: 7%;
}

.SubMainBox-1 h1{
    font-size: 43px;
    color: hsl(300, 43%, 22%);
}

.SubMainBox-1 p{
    color: hsl(303, 10%, 53%);
    line-height: 25px;
}

.Stars{
    margin-top: 10%;
    margin-left: 9%;
    width: 100%;
    max-width: 31%;
}

.Stars p{
    color: hsl(300, 43%, 22%);
    font-weight: bold;
}

.Stars div{
    padding: 7px;
    padding-left: 150px;
    padding-right: 50px;
    background-color: hsl(300, 24%, 96%);
    border-radius: 15px;
    margin-bottom: 15px;
    background-image: url(../images/icon-star.svg), 
                      url(../images/icon-star.svg),
                      url(../images/icon-star.svg), 
                      url(../images/icon-star.svg), 
                      url(../images/icon-star.svg);
    background-repeat: no-repeat;
    background-position: center left calc(30px), 
                         center left calc(50px),
                         center left calc(70px),
                         center left calc(90px),
                         center left calc(110px);
}

.Stars .Stars-2{
    position: relative;
    left: 10%;
}

.Stars .Stars-3{
    position: relative;
    left: 20%;
}

.Comments{
    display: flex;
}

.Comments div{
    width: 268px;
    height: 190px;
    background-color: hsl(300, 43%, 22%);
    margin-right: 3%;
    padding: 40px;
    border-radius: 11px;
}

.Comments img{
    width: 50px;
    border-radius: 50%;
}

.Comments-1{
    margin-left: 9.5%;
}

.Comments-1 section, .Comments-2 section, .Comments-3 section{
    display: inline-block;
    font-size: 17px;
    line-height: 4px;
    position: relative;
    bottom: 3px;
    left: 23px;
}

.Comments-1 h2, .Comments-2 h2, .Comments-3 h2{
    font-size: 17px;
}

.Comments-1 .Reviews, .Comments-2 .Reviews, .Comments-3 .Reviews, h2{
    color: hsl(0, 0%, 100%);
    line-height: 25px;
    font-size: 12px;
}

.Comments .Comments-2{
    position: relative;
    top: 20px;
}

.Comments .Comments-3{
    position: relative;
    top: 40px;
    margin-bottom: 10%;
}

.Comments-1 .Verified, .Comments-2 .Verified, .Comments-3 .Verified{
    color: hsl(333, 80%, 67%);
}

@media screen and (max-width: 1280px) {
    .Comments{
        margin-right: 5%;
    }

    .Comments div{
        height: 220px;
    }
}

/*
@media screen and (max-width: 1024px) {
    .MainBox-1{
        flex-direction: column;
        align-items: center;
    }

    .SubMainBox-1{
        width: 100%;
        max-width: 70%;
        margin-left: 0%;
        text-align: center;
    }

    .Stars{
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 5%;
    }

    .Stars .Stars-2, .Stars .Stars-3{
        left: 0%;
    }
}*/

@media screen and (max-width: 1098px) {
    .Comments div{
        height: 250px;
    }
}

@media screen and (max-width: 984px){
    .Comments div{
        height: 300px;
    }
}

@media screen and (max-width: 812px) {
    .Comments div{
        height: 370px;
    }
}

@media screen and (max-width: 768px) {
    .MainBox-1{
        flex-direction: column;
        align-items: center;
        margin-top: 10%;
    }

    .SubMainBox-1{
        text-align: center;
        margin-left: 0%;
    }

    .Stars{
        margin-bottom: 10%;
        margin-left: 0%;
    }

    .Stars div{
        width: 250px; 
    }

    .Stars .Stars-2, .Stars .Stars-3{
        left: 0px;
    }

    .Comments{
        flex-direction: column;
        align-items: center;
        margin: 0%;
    }

    .Comments div{
        margin: 0%;
    }
}

@media screen and (max-width: 540px) {
    body{
        background-size: 70vw, 90vh;
    }

    .SubMainBox-1{
        margin-left: 5%;
    }

    .Stars div{
        margin-left: 3%;
    }

    .Comments div{
        margin-left: 18%;
    }
}

@media screen and (max-width: 411px) {
    *{
        max-width: 360px;
    }

    .SubMainBox-1{
        margin-top: 20%;
        margin-left: 14%;
    }

    .SubMainBox-1 h1{
        width: 300px;
    }

    .SubMainBox-1 p{
        width: 300px;
    }

    .Stars div{
        width: 200px;
        height: 70px;
        padding-right: 3px;
        margin-left: 2%;
        background-position: top calc(20px) left calc(105px), 
        top calc(20px) left calc(135px),
        top calc(20px) left calc(165px),
        top calc(20px) left calc(195px),
        top calc(20px) left calc(225px);
    }

    .Stars div p{
        width: 250px;
        position: relative;
        top: 20px;
        right: 78px;
    }

    .Stars .Stars-2 p{
        right: 95px;
    }

    .Stars .Stars-2, .Stars .Stars-3{
        position: relative;
        left: 0;
    }

    .Comments{
        margin-bottom: 30%;
    }

    .Comments div{
        height: 200px;
        margin-left: 8%;
    }
}

@media screen and (max-width: 375px) {
    *{
        max-width: 325px;
    }

    .SubMainBox-1{
        margin-left: 10%;
    }

    .Stars div{
        width: 100%;
        max-width: 180px;
        padding-left: 130px;
        margin-left: 5%;
        background-position: top calc(20px) left calc(90px), 
        top calc(20px) left calc(120px),
        top calc(20px) left calc(150px),
        top calc(20px) left calc(180px),
        top calc(20px) left calc(210px);
    }

    .Comments div{
        margin-left: 5%;
    }
}

@media screen and (max-width: 360px) {
    *{
        max-width: 260px;
    }

    .SubMainBox-1{
        margin-left: 18%;
    }

    .Stars div{
        margin-left: 7%;
        width: 100%;
        max-width: 170px;
        padding-left: 120px;
        background-position: top calc(20px) left calc(80px), 
        top calc(20px) left calc(110px),
        top calc(20px) left calc(140px),
        top calc(20px) left calc(170px),
        top calc(20px) left calc(200px);
    }

    .Comments div{
        width: 100%;
        margin-left: 6%;
    }
}

@media screen and (max-width: 280px) {
    *{
        max-width: 140px;
    }

    .SubMainBox-1 h1{
        font-size: 20px;
    }

    .SubMainBox-1 p{
        font-size: 15px;
    }

    .SubMainBox-1{
        margin-left: 49%;
        width: 100%;
        margin-top: 50%;
        margin-bottom: 30%
    }

    .Stars div{
        background-position: top calc(20px) left calc(55px), 
        top calc(20px) left calc(85px),
        top calc(20px) left calc(115px),
        top calc(20px) left calc(145px),
        top calc(20px) left calc(175px);
        width: 100%;
        height: 90px;
        padding: 0px;
        padding-right: 115px;
        padding-top: 12%;
    }

    .Stars p{
        text-align: center;
        left: 40%;
    }

    .Comments{
        margin-top: 50%;
        margin-bottom: 80%;
    }

    .Comments div{
        margin-left: 24%;
        height: 400px;
    }

    .Comments img{
        width: 60px;
        position: relative;
        left: 28%;
    }

    .Comments section{
        left: 5%;
    }
}